---
import { DEFAULT_LANG } from "../i18n/i18n";
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=/${DEFAULT_LANG}/`} />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <a href={`/${DEFAULT_LANG}/`}>Go</a>
  </body>
</html>
